mixin hero()
	+b('section').hero
		+e.in
			+e.top 
				+e.top-title Продажа фирменных зимних ботинок <br/>Timberland по всей России
				+e.top-logo
				+e.top-note Доставка по Москве или <br/>отправка в регион <br/>в течение 24 часов
			+e('h1').title Ботинки <span>TIMBERLAND</span> со скидкой 50%
			+e.price 
				+e.price-old 11800 руб.
				+e.price-new 5900 руб.
			+e('a').link(href='#') ПОСМОТРЕТЬ ВСЕ МОДЕЛИ