mixin catalog()
	+b('section').catalog
		+e.in
			+e('h2').title МУЖСКИЕ БОТИНКИ TIMBERLAND <span>(размеры EUR 36-46)</span>

			+e('ul').list
				+e('li').i
					+e.i-title Timberland 10061 Classic
					+e.i-image
						img(src="assets/images/content/i-1.jpg", alt="Timberland 10061 Classic")
					+e.i-price
						+e.i-price-old 11800 руб.
						+e.i-price-new 5900 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ
				+e('li').i
					+e.i-title Timberland 10061 Brown
					+e.i-image
						img(src="assets/images/content/i-2.jpg", alt="Timberland 10061 Classic")
					+e.i-price
						+e.i-price-old 11800 руб.
						+e.i-price-new 5900 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ
				+e('li').i
					+e.i-title Timberland 10061 Chocolate
					+e.i-image
						img(src="assets/images/content/i-3.jpg", alt="Timberland 10061 Classic")
					+e.i-price
						+e.i-price-old 11800 руб.
						+e.i-price-new 5900 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ


				+e('li').i
					+e.i-title Timberland 10061 Dark Blue
					+e.i-image
						img(src="assets/images/content/i-4.jpg", alt="Timberland 10061 Classic")
					+e.i-price
						+e.i-price-old 11800 руб.
						+e.i-price-new 5900 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ
				+e('li').i
					+e.i-title Timberland 10061 Yellow
					+e.i-image
						img(src="assets/images/content/i-5.jpg", alt="Timberland 10061 Classic")
					+e.i-price
						+e.i-price-old 13800 руб.
						+e.i-price-new 6500 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ
				+e('li').i
					+e.i-title Timberland 10061 Navy Blue
					+e.i-image
						img(src="assets/images/content/i-6.jpg", alt="Timberland 10061 Classic")
					+e.i-price
						+e.i-price-old 11800 руб.
						+e.i-price-new 5900 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ


				+e('li').i
					+e.i-title Timberland 10061 Classic/White
					+e.i-image
						img(src="assets/images/content/i-7.jpg", alt="Timberland 10061 Classic")
					+e.i-price
						+e.i-price-old 11800 руб.
						+e.i-price-new 5900 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ
				+e('li').i
					+e.i-title Timberland 10061 Blue
					+e.i-image
						img(src="assets/images/content/i-8.jpg", alt="Timberland 10061 Classic")
					+e.i-price
						+e.i-price-old 13800 руб.
						+e.i-price-new 6500 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ
				+e('li').i
					+e.i-title Timberland 10061 Black
					+e.i-image
						img(src="assets/images/content/i-9.jpg", alt="Timberland 10061 Classic")
					+e.i-price
						+e.i-price-old 11800 руб.
						+e.i-price-new 5900 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ


				+e('li').i
					+e.i-title Timberland 10061 Grey
					+e.i-image
						img(src="assets/images/content/i-10.jpg", alt="Timberland 10061 Classic")
					+e.i-price
						+e.i-price-old 11800 руб.
						+e.i-price-new 5900 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ
				+e('li').i
					+e.i-title Timberland 10061 Grey/Blue
					+e.i-image
						img(src="assets/images/content/i-11.jpg", alt="Timberland 10061 Classic")
					+e.i-price
						+e.i-price-old 11800 руб.
						+e.i-price-new 5900 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ

			+e('h2').title ЖЕНСКИЕ БОТИНКИ TIMBERLAND <span>(размеры EUR 35-40)</span>
			
			+e('ul').list
				+e('li').i
					+e.i-title Timberland 10061 Classic
					+e.i-image
						img(src="assets/images/content/i-12.jpg", alt="Timberland 10061 Classic")
					+e.i-price
						+e.i-price-old 11800 руб.
						+e.i-price-new 5900 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ
				+e('li').i
					+e.i-title Timberland Teddy Classic
					+e.i-image
						img(src="assets/images/content/i-13.jpg", alt="Timberland Teddy Classic")
					+e.i-price
						+e.i-price-old 13800 руб.
						+e.i-price-new 6500 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ
				+e('li').i
					+e.i-title Timberland 10061 Blue
					+e.i-image
						img(src="assets/images/content/i-14.jpg", alt="Timberland 10061 Blue")
					+e.i-price
						+e.i-price-old 13800 руб.
						+e.i-price-new 6500 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ



				+e('li').i
					+e.i-title Timberland Teddy White
					+e.i-image
						img(src="assets/images/content/i-15.jpg", alt="Timberland Teddy White")
					+e.i-price
						+e.i-price-old 12400 руб.
						+e.i-price-new 6200 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ
				+e('li').i
					+e.i-title Timberland Teddy Brown
					+e.i-image
						img(src="assets/images/content/i-16.jpg", alt="Timberland Teddy Brown")
					+e.i-price
						+e.i-price-old 13800 руб.
						+e.i-price-new 6500 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ
				+e('li').i
					+e.i-title Timberland 10061 Dark Blue
					+e.i-image
						img(src="assets/images/content/i-17.jpg", alt="Timberland 10061 Dark Blue")
					+e.i-price
						+e.i-price-old 11800 руб.
						+e.i-price-new 5900 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ



				+e('li').i
					+e.i-title Timberland 10061 Yellow
					+e.i-image
						img(src="assets/images/content/i-18.jpg", alt="Timberland 10061 Yellow")
					+e.i-price
						+e.i-price-old 13800 руб.
						+e.i-price-new 6500 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ
				+e('li').i
					+e.i-title Timberland 10061 Pink
					+e.i-image
						img(src="assets/images/content/i-19.jpg", alt="Timberland 10061 Pink")
					+e.i-price
						+e.i-price-old 12400 руб.
						+e.i-price-new 6200 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ
				+e('li').i
					+e.i-title Timberland 10061 Classic/White
					+e.i-image
						img(src="assets/images/content/i-20.jpg", alt="Timberland 10061 Classic/White")
					+e.i-price
						+e.i-price-old 11800 руб.
						+e.i-price-new 5900 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ



				+e('li').i
					+e.i-title Timberland 10061 Chocolate
					+e.i-image
						img(src="assets/images/content/i-21.jpg", alt="Timberland 10061 Chocolate")
					+e.i-price
						+e.i-price-old 11800 руб.
						+e.i-price-new 5900 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ
				+e('li').i
					+e.i-title Timberland 10061 Grey/Blue
					+e.i-image
						img(src="assets/images/content/i-22.jpg", alt="Timberland 10061 Grey/Blue")
					+e.i-price
						+e.i-price-old 11800 руб.
						+e.i-price-new 5900 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ
				+e('li').i
					+e.i-title Timberland Teddy Marsh
					+e.i-image
						img(src="assets/images/content/i-23.jpg", alt="Timberland Teddy Marsh")
					+e.i-price
						+e.i-price-old 13800 руб.
						+e.i-price-new 6500 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ


				+e('li').i
					+e.i-title Timberland 10061 Black 
					+e.i-image
						img(src="assets/images/content/i-24.jpg", alt="Timberland 10061 Black")
					+e.i-price
						+e.i-price-old 11800 руб.
						+e.i-price-new 5900 руб.
					+e('a').button(href='#') ЗАКАЗАТЬ
