include ../blocks/hero/hero
include ../blocks/benefits/benefits
include ../blocks/how/how
include ../blocks/catalog/catalog
include ../blocks/order/order


extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Mytimberland';

block content
	+hero()
	+benefits()
	+how()
	+catalog()
	+order()
	