mixin benefits()
	+b('section').benefits
		+e.in
			+e('h2').title
			+e('ul').list
				+e('li').i
					+e.i-icon
					+e('h3').i-title БЕСПЛАТНАЯ ДОСТАВКА ПО МОСКВЕ
					+e.i-text Доставка по Москве от 1 пары в случае покупки бесплатная. Стоимость отправки в регион уточняйте по телефону.
				+e('li').i
					+e.i-icon
					+e('h3').i-title НИЗКАЯ ЦЕНА
					+e.i-text Скидка 50% на любую модель с мехом
				+e('li').i
					+e.i-icon
					+e('h3').i-title ОТЛИЧНОЕ КАЧЕСТВО
					+e.i-text Мы работаем только с официальным поставщиком. У нас в наличии только оригинальные модели ботинок Timberland. Мы гарантируем 100% качество всех наших товаров!
			+e.text Timberland является бесспорным лидером среди существующих брендов обуви. Мы предоставляем выбор среди небольшого количества самых ходовых моделей. Мы работаем более 5 лет только с официальным поставщиком! Мы гарантируем 100% качество по самой низкой цене в России! Работаем с 20 транспортными компаниями.
			+e('h2').subtitle Гарантия 6 месяцев и 2 недели на возврат без объяснения причин
