mixin header()
	+b.header
		+e.in
			+b('a')(href='#').logo MYTIMBERLAND
			+b('ul').menu
				+e('li').i
					+e('a')(href='#' title='#').a ГЛАВНАЯ
				+e('li').i
					+e('a')(href='#' title='#').a ВЫГОДА
				+e('li').i
					+e('a')(href='#' title='#').a КАК МЫ РАБОТАЕМ
				+e('li').i
					+e('a')(href='#' title='#').a МОДЕЛИ
			+b('a')(href='#').button ОБРАТНЫЙ ЗВОНОК