mixin how()
	+b('section').how
		+e.in
			+e('h2').title КАК МЫ РАБОТАЕМ
			+e('ul').list
				+e('li').i
					+e.i-icon
					+e('h3').i-title
				+e('li').i
					+e.i-icon
					+e('h3').i-title
				+e('li').i
					+e.i-icon
					+e('h3').i-title
		